{
    "tabWidth": 4,
    "printWidth": 120,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "endOfLine": "auto",
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "jsxBracketSameLine": true

}