<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.lisec.lis.lisecauthenticator</key>
		<string>Lisec.Authenticator_provisioningprofile</string>
	</dict>
	<key>signingCertificate</key>
	<string>8492CA085BB63E83A59DCC96C7A1B69B8F9A087C</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>Y6H4935CS2</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
